@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('/src/fonts/MuseoSansCyrl-500.eot');
	src: local('/src/fonts/MuseoSansCyrl-500'),
		url('/src/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('/src/fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('/src/fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}