@import 'base/mixins';
@import 'base/variables';
@import 'base/general';
@import 'base/animations';
@import 'base/media';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/catalogue';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
* {
    font-family: 'Museo Sans Cyrl', cursive;
}

body {
    margin: 0;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}

.hidden {
    display: none;
}